<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clint-test-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9f4dcf43-aa06-457b-b975-f0216baef20d/resourceGroups/clint-test-demo/providers/Microsoft.Web/sites/clint-test-demo</ResourceId>
    <UserName>$clint-test-demo</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://clint-test-demo.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>